<div class="w-full h-full grid grid-nogutter justify-content-center align-items-center">
	<div class="w-22rem px-4 py-8" style="background-color: #f2f2f2; height: 36rem; border-radius: 0.5em;">
		<div class="w-full">
			<h1 class="font-bold select-none">TALENT 100</h1>
		</div>
		<div class="w-full">
			<h2 class="font-normal select-none" style="color: #5e5e5e;">로그인 하기</h2>
		</div>
		<div class="w-full grid grid-nogutter justify-content-center my-8">
			<a id="kakao-login-btn"></a>
			<a href="http://developers.kakao.com/logout"></a>
		</div>
		<div class="w-full h-1rem" style="border-top: 1px solid #a2a2a2;"></div>
		<div class="w-full text-center select-none white-space-nowrap" style="color: #5e5e5e;">TALENT 100 회원 만을 위한 서비스 입니다<br/>비회원은 이용이 불가능합니다</div>
	</div>
</div>
