<h2 class="w-full">
    회원가입 안내
</h2>
<h3 class="w-full mb-1">가. 초대장 안내</h3>

<div class="section">
    <ol class="mb-2 start">
        <li class="p-my-5">당사는 비공개 학회로 별도 달란트 초대 링크(이하 초대장) 소지자에 한하여 회원가입이 가능합니다.</li>
        <li class="p-my-5">초청대상자는 발급받은 초대장을 사용하여 면접에 참여합니다. 초대장은 중복해서 사용할 수 없습니다.</li>
        <li class="p-my-5">당사의 초대장은 1)달란트 임원의 초대장 2)기존 회원의 요청에 의한 초대장 3)랜덤 초대장 3가지 방식이 존재합니다.</li>
        <li class="p-my-5">랜덤 초대장의 경우 재학생 커뮤니티(에브리타임), 또는 실명카카오톡방 1,2,3 등에 달란트 초대장 요청글을 올리면 당사의 회원이 초청글을 발견하는 경우 랜덤으로 초대장 증정할 수 있습니다. </li>
        <li class="p-my-5">초대장이 발급되면 면접참가기회가 부여되며 면접절차를 통과 후 당사에 회원가입 할 수 있습니다.</li>
        <li class="p-my-5">일정기간이 경과하면 초대장 고유번호는 소멸합니다.</li>
    </ol>
</div>

<div class="w-full h-5"></div>

<h2 class="w-full">
    면접종합 안내
</h2>
<h3 class="w-full mb-1">가. 면접 방식</h3>

<div class="section">
    <ul class="mb-2 start circle">
        <li class="p-my-5">사전 공개된 면접질문에 답변하는 과정을 지원자의 면접태도/인성 등을 위주로 합격과 불합격으로 평가합니다.</li>
        <li class="p-my-5">면접시간: 개인별 <span class="red underline">10분 이하</span> (별도 준비시간 없음)</li>
        <li class="p-my-5">참가방법: COVID-19로 비대면 면접이 우선으로 진행되며, 대면면접을 원하는 경우 2021-01학기 별도 안내할 예정입니다.</li>
    </ul>
</div>

<h3 class="w-full mb-1">나. 면접 유의사항</h3>
<div class="section">
    <h4>면접 평가 결격사유(불합격)</h4>
    <ul class="mb-2 start circle">
        <li class="p-my-5">대리시험 등 부정행위를 한 경우</li>
        <li class="p-my-5">면접 질문과 관계없는 내용을 답변하는 경우</li>
        <li class="p-my-5">현저히 불성실한 면접태도를 보인 경우 </li>
        <li class="p-my-5">면접일정을 준수하지 않은 경우</li>
    </ul>
</div>

<h3 class="w-full mb-1">다. 면접 질문유형</h3>
<div class="section">
    <table class="w-full mb-2">
        <tr class="table-row">
            <td class="row-label">금융투자 적합성</td>
            <td class="row-content">
                <ul class="my-2 start dash">
                    <li class="my-2">금융투자분야/달란트투자학회에 관심을 갖게 된 계기를 말해주세요.</li>
                    <li class="my-2">금융투자분야의 성공을 위해서 갖춰야 할 능력, 소양, 덕목 등은 어떤 것이 있을지 자신의 생각을 말해주세요.</li>
                </ul>
            </td>
        </tr>
        <tr class="table-row">
            <td class="row-label">지원동기</td>
            <td class="row-content">
                <ul class="my-2 start dash">
                    <li class="p-my-2">달란트 투자학회에 지원한 동기에 대해서 설명해주세요.</li>
                </ul>
            </td>
        </tr>
        <tr class="table-row">
            <td class="row-label">인성/가치관</td>
            <td class="row-content">
                <ul class="my-2 start dash">
                    <li class="my-2">자신이 인생에서 중요하다고 생각하는 가치관은 어떤 것인지 설명해주세요.</li>
                </ul>
            </td>
        </tr>
        <tr class="table-row">
            <td class="row-label">자기관리 / 사회적 역량</td>
            <td class="row-content">
                <ul class="my-2 start dash">
                    <li class="my-2">특별히 강조하고 싶은 자신만의 강점(장점)은 무엇인가요? 그 강점이 달란트 투자학회에서 자신과 친구 또는 선후배에게 어떠한 긍정적인 영향을 미칠 수 있는지 말해주세요.</li>
                </ul>
            </td>
        </tr>
        <tr class="table-row last-row">
            <td class="row-label">참여계획</td>
            <td class="row-content">
                <ul class="my-2 start dash">
                    <li class="my-2">달란트 투자학회에서 장점은 어떤것인지 말해주세요.</li>
                </ul>
            </td>
        </tr>
    </table>
</div>

<div class="w-full h-5"></div>

<h2 class="w-full">
    비대면 면접 안내
</h2>

<h3 class="w-full mb-1">가. 면접 방식</h3>

<div class="section">
    <table class="w-full mb-2">
        <tr class="table-row">
            <td class="row-label">면접 내용</td>
            <td class="row-content">
                <ul class="my-2 start none">
                    <li class="my-2">사전 제시된 질문에 대해 면접자 스스로 순서대로 답변하여 녹화</li>
                    <li class="my-2"><span class="red">※ 하기 비대면 면접 녹화예시 참고</span></li>
                </ul>
            </td>
        </tr>
        <tr class="table-row">
            <td class="row-label">업로드 방식</td>
            <td class="row-content">
                <ul class="my-2 start none">
                    <li class="my-2">면접영상 파일을 동영상 스트리밍 사이트(유투브, VIMEO 등) 본인 개인계정에 업로드</li>
                </ul>
            </td>
        </tr>
        <tr class="table-row">
            <td class="row-label">동영상 형식</td>
            <td class="row-content">
                <ul class="my-2 start none">
                    <li class="my-2">휴대폰(안드로이드 또는 IOS 기반) 또는 웹캠, 캠코더 등으로 촬영한 동영상 파일</li>
                    <li class="my-2">(화질: 1,080p 이상 권장 (Full HD 1,920x1,080))</li>
                </ul>
            </td>
        </tr>
        <tr class="table-row">
            <td class="row-label">제출 방식</td>
            <td class="row-content">
                <ul class="my-2 start none">
                    <li class="my-2">개인계정에 업로드 된 접속가능한 동영상 URL 주소 시스템 제출</li>
                    <li class="my-2">
                        <ul class="my-2 start point">
                            <li class="my-2">개인정보보호상 촬영된 영상을 직접 제출받지 않습니다.</li>
                            <li class="my-2">URL 첨부 예시 : https://youtu.be/123456</li>
                            <li class="my-2">합격/불합격은 별도 통보하지 않으니 일정기간(7일)이후 자진 삭제바랍니다.</li>
                        </ul>
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>

<h3 class="w-full mb-1">나. 면접영상 업로드 유의사항</h3>
<div class="section">
    <p class="text-center font-bold">아래의 사항을 위반하여 면접영상을 업로드할 경우 평가에 불이익이 있을 수 있음</p>
    <ol class="mb-2 start circle">
        <li class="p-my-5">필터효과, 보정 작업 등 인위적인 보정 불가</li>
        <li class="p-my-5">고정된 상태의 가로화면으로 촬영하여야 하며, 특수효과는 허용하지 않음<br/>※ 프레임 이동, 세로 촬영, 특수효과(슬로우모션등), 핸드핼드등 사용 금지</li>
        <li class="p-my-5">실내에서 단색배경으로 촬영하여야 함<br/>※ 실외 촬영 금지<br/>※ 화려하거나 거울이 있는 배경 사용 금지</li>
        <li class="p-my-5">영상에는 지원자 <span class="red">본인의 얼굴을 포함한 상반신과 목소리가 분명하게 나오도록</span> 해야함</li>
        <li class="p-my-5">영상은 중간에 끊지 않고 처음부터 끝까지 한 번의 컷으로만 끊김 없이 촬영하는 원테이크(One Take) 방식만 허용함</li>
        <li class="p-my-5">휴대폰의 경우 카메라의 고화질모드로 촬영한 영상만 제출 가능함</li>
        <li class="p-my-5">파일 자체적인 결함이나 손상으로 인한 문제는 책임질 수 없으니 최종 업로드 전, 면접영상 파일이 재생 가능한지 철저하게 확인할 것</li>
        <li class="p-my-5">영상에는 본인만 출연하여야 하며, 본인 이외 타인 출연은 불가함</li>
    </ol>
</div>

<h3 class="w-full mb-1">다. 비대면 면접 녹화예시</h3>
<div class="section">
    <p-card>
        <p class="my-3">안녕하십니까? 달란트 투자학회에 지원하게 된. 지원자 20학번 새내기 000이라고 합니다. 이렇게 투자학회 지원 기회를 주셔서 대단히 감사합니다.</p>
        <p class="my-3">1. 네이버 경제뉴스를 보면서 평소에 금융투자분야에 관심을 가지고 있었는데, 실질적으로 자본을 기존사회에서 이미 축척한 사람들은 더 많은 부를 향유하고, 그렇지 못한 사람이 이러한 자본의 격차를 따라잡는건 더더욱 불가능에 가까운 사회에 살아가고 있다고 생각합니다. 따라서 저는 금융투자가 제 인생에 필수적이라고 생각하였고 달란트 투자학회에 지원하게 되었습니다. </p>
        <p class="my-3">2. 금융투자에 성공을 하는 것은 쉽지 않을 것이라 생각합니다. 통계에 따르면 대다수의 일반투자자의 90%는 금융투자로 손해를 보는 것이 사실이지만, 미국 4차 디지털 NASDAQ 시장자체가 우상향이지 않았던 적이 없으며 5년전 5000pt에서 현재 11,000pt까지 2배이상 성장하였습니다. COVID-19의 경우에도 아주 짧은 기간에 폭락이 있은 후, 다시 전고점을 돌파한 상태임으로 장기적인 안목을 가지고 인내하는 것이 금융투자에 가장 중요한 자질이라고 생각합니다. </p>
        <p class="my-3">3. 달란트 투자학회는 실전투자를 하는 곳으로 알고 있으며 저는 당장에 큰 자본은 없지만 한동대 재학생때부터 작은 자본으로 금융 마켓의 경험과 학습을 축척하면 언젠가는 큰 절대적 수익을 창출 할 수 있기에 달란트에 지원하게 되었습니다. </p>
        <p class="my-3">4. 저는 사람들이 나의 재산이라는 말을 항상 머릿속에 두고 저의 가치관이기도 합니다. 사람이 살아가면서 가장 중요한 것은 신용이라고 생각합니다. 저는 아무리 사소한 약속도 지나치지 않으려고 노력하고 있으며 달란트에서 저에게 준 기회에 대한 믿음과 신용 또한 항상 지키고자 합니다. </p>
        <p class="my-3">5. 저의 강점은 어디서나 적응을 잘 하고 상황에 따라서 누구나와 싶게 친해질 수 있는 친화력이라고 생각합니다. 그 장점 덕분에 주변에서 모임을 먼저 주최하고 이끌어 가는 역활을 자주 해 왔습니다. 제가 속한 단체에서 신입 회원이 들어 올때는 늘 먼저 관심 가져주고 대화를 이끌어 가며 그들이 불편함이 없도록 하는 것도 제 역할이였습니다. 하지만 이러한 장점 때문에 부작용으로 가끔은 한번 보고 더 이상 보지 않을 사람까지 친해져서 이후에 연락을 하기도, 안하기도 애매해져 버린 경우가 종종 있습니다. 저의 약점은 공과사를 너무 확실하게 구분한다는 것입니다. 그래서 처음에 저의 친화력 때문에 좋게 보다가 같이 일을 하다 냉정한 모습에 상처를 받는 경우가 많습니다. 하지만 시간이 지나면 일할때만 그렇다는 것을 알아주면서 유대관계가 더욱 끈끈해진 경우도 대다수 입니다. 달란트에서는 저의 장점을 최대한 살려 한동대학교에서 가장 끈끈한 유대관계를 가진 학회로 같이 만들어 나가고 싶습니다.</p>
        <p class="my-3">6. 저는 어릴떄부터 세계에 매료를 느끼고, 세계지도를 보며 글로벌으로 진출해 저의 역량을 마음껏 펼칠 날을 손꼽아 기다려왔고 한동대학교를 지원하게 된 계기가 되었습니다. 한동대학교에서 개교이래 유일하게 매일 실시간 최신 전세계 투자은행 IB의 전문자료를 받아보면서 글로벌 세상을 항상 Follow-Up을 할 수 있는 것이 저에게 가장 큰 유익함이자 기쁜점이라고 생각합니다!</p>
    </p-card>
</div>


<div class="grid grid-nogutter w-full my-5 justify-content-between">
    <div class="pb-2">
        
    </div>
    <div>
        <!-- <p-captcha 
            *ngIf="!captchaPassed" 
            [siteKey]="siteKey" 
            (onResponse)="showResponse($event)"
            (onExpire)="null"
        ></p-captcha> -->
        <p-button 
            [icon]="registrationButtionIcon" 
            (click)="runNextStep()" 
            label="초대장 인증하기"
            [disabled]="block"
        ></p-button>
    </div>
</div>