table {
  	width: 100%;
}


.sidebar {
	width: 15%;
	padding: 1%;
	color: white;
}


.panel {
  	background-color: white;
}

.text {
	width: 200px;
	height: 50px;

	top: 10%;
	margin: 1%;
	text-align: start;
	font-weight: bolder;
	font-size: 100%;
	background-color: white;
	color: rgb(41, 128, 193);
	border-color: rgb(41, 128, 193);
}

.color {
  	background-color: white;
}
