
<div *ngIf="loaded === 'ERROR'">
    <h2>데이터를 가져오는 도중에 문제가 발생했습니다</h2>
    <h4>잠시후 다시 시도해 주시기 바랍니다. 문제가 지속될 경우 운영 팀에 문의 바랍니다.</h4>
</div>

<div *ngIf="loaded === 'SUCCESS'">

    <div class="flex flex-nowrap w-full overflow-scroll px-3 my-5">
        <div class="w-25rem mr-3 mb-3">
            <p-card header="NASDAQ 100 목표 가격" >
                <p-chart type="line" [data]="ndxTargetChart" [options]="ndxTargetChartOption"></p-chart>
            </p-card>
        </div>

        <div class="w-25rem mr-3 mb-3">
            <p-card header="NASDAQ 100 종목별 레이팅" >
                <p-chart type="horizontalBar" [data]="ndxRatingChart" [options]="ndxRatingChartOption"></p-chart>
            </p-card>
        </div>
    
        <div class="w-25rem mr-3 mb-3">
            <p-card header="NASDAQ 100 EPS 변화">
                <p-chart type="bar" [data]="ndxEpsChart" [options]="ndxEpsChartOption" bar-></p-chart>
            </p-card>
        </div>
    
        <div class="w-25rem mr-3 mb-3">
            <p-card header="종목별 상승여력">
                <p-chart #chart type="bar" [data]="potentialChart" [options]="potentialChartOption"></p-chart>
            </p-card>
        </div>

        <div class="w-25rem mr-3 mb-3">
            <p-card header="종목별 EPS 변화">
                <p-chart type="line" [data]="epsChangeChart" [options]="epsChangeChartOption" bar-></p-chart>
            </p-card>
        </div>
    </div>
    
    
    
    
    <div class="section-table">
        <p-card header="NASDAQ 100 종목 데이터" >
    
            <p-table 
                #dataTable
                [value]="data" 
                selectionMode="multiple"
                [(selection)]="selectedData"
                dataKey="ticker"
                (onRowSelect)="onRowSelect($event)"
                (onRowUnselect)="onRowUnselect($event)"
                [scrollable]="true"
                styleClass="p-datatable-sm"
                [resizableColumns]="true"
                responsiveLayout="scroll"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th 
                            rowspan="2" 
                            *ngFor="let header of basicHeader" 
                            style="width:100px" 
                            [pSortableColumn]="header.value"
                        >
                            {{ header.label }}
                            <p-sortIcon [field]="header.value"></p-sortIcon>
                        </th>
                        <th rowspan="1" [colSpan]="ibHeaderCount" [ngStyle]="{'width': '' + 100 * ibHeaderCount + 'px'}" >IB 투자은행 목표가 평균</th>
                        <th rowspan="1" [colSpan]="epsHeaderCount" [ngStyle]="{'width': '' + 100 * epsHeaderCount + 'px'}" >EPS 전망치</th>
                    </tr>
                    <tr>
                        <th *ngFor="let header of ibAndEpsHeader" style="width:100px" [pSortableColumn]="header.value">{{header.label}}<p-sortIcon [field]="header.value"></p-sortIcon></th>
                    </tr>
                    <tr>
                        <th colspan="2" style="width: 200px">NASDAQ 100</th>
                        <th *ngFor="let key of summaryHeaderKeys" style="width:100px">{{ dataSummary[key] }}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data let-rowIndex="ticker">
                    <tr [pSelectableRow]="data" [pSelectableRowIndex]="rowIndex">
                        <td *ngFor="let key of dataKeys" style="width:100px">{{ data[key] | ndxBookData: headerMap[key].type }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
    </div>
</div>