.product-item {
    .product-item-content {
        border: 1px solid var(--surface-d);
        border-radius: 3px;
        margin: .3rem;
        text-align: center;
        padding: 2rem 0;
    }

    .product-image {
        width: 50%;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
    }
}


.section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 2rem 3rem 2rem;
}

// :host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
//     position: -webkit-sticky;
//     position: sticky;
//     top: 0;
// }

// .layout-news-active :host ::ng-deep .p-datatable tr > th {
//     top: 0;
// }

// @media screen and (max-width: 64em) {
//     :host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
//         top: 0;
//     }

//     .layout-news-active :host ::ng-deep .p-datatable tr > th {
//         top: 0;
//     }
// }