.section {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul {
    &.circle {
        list-style-type: '○  ';
    }

    &.dash {
        list-style-type: '-  ';
    }

    &.point {
        list-style-type: '※  ';
    }
}

ul.start, ol.start {
    padding-inline-start: 20px;
}


p-card {
    width: 100%;
}

.spacer {
    height: 80px;
    width: 100%;
}

.confirm-line {
    max-width: 90%;
    font-weight: bold;
}