/* You can add global styles to this file, and also import other style files */

@import './assets/styles/variable';
@import './assets/fonts/NanumBarunGothic/nanumbarungothicsubset.css';

html, body { 
    height: 100%;
}
body { 
    margin: 0; 
    font-family: "NanumBarunGothic", sans-serif; 
}
