<h2 class="w-full">
    안녕하세요 {{talkProfileName}}님,
</h2>
<div class="grid grid-nogutter w-full my-3 justify-content-between">
    <div class="note pb-2">
        여기까지 진행 사항은 모두 저장되었습니다.<br>
        영상을 찍은 뒤 다시 사이트를 방문하셔서 진행하셔도 좋습니다.
    </div>
</div>
<p-card>
    <div class="grid grid-nogutter w-full">
        <div class="col-12 form-group">
            <div>인터뷰 영상 링크 (유튜브, 구글 드라이브 링크, etc)</div>
            <input type="text" [(ngModel)]="url" [max]="1000" pInputText />
        </div>
    </div>
    <div style="width: 100%; padding-top: 56.25%; position: relative; ">
        <iframe 
            style="position: absolute; top: 0; width: 100%; height: 100%;"
            [src]="url | videoEmbed" 
            frameborder="0"
            scrolling="no"
        >
        </iframe>
    </div>
</p-card>

<div class="grid grid-nogutter w-full my-3 justify-content-between">
    <div class="note grid grid-nogutter justify-content-start align-items-center col-9">
        유튜브는 링크가 잘 나오는지 미리 확인하실 수 있습니다.<br>
        구글 드라이브와 같이 링크에 접근 제한을 걸수 있는 경우 제한을 해제하여 주시기 바랍니다.
    </div>
    <div class="col-3 grid grid-nogutter justify-content-end align-items-center">
        <p-button  
            [icon]="submitButtionIcon" 
            (click)="submit()" 
            label="제출" 
            [disabled]="!isSubmittable() || block"
        ></p-button>
    </div>
</div>